apiVersion: v1
kind: Secret
metadata:
  name: pg-backup-secrets
type: Opaque
stringData:
  # THIS IS CONFIGURE FOR SCALEWAY S3!!
  # S3
  AWS_ACCESS_KEY_ID: "[S3 ID]"
  AWS_SECRET_ACCESS_KEY: "[S3 KEY]"
  AWS_DEFAULT_REGION: "fr-par"

  # PostgreSQL
  PGHOST: "postgresql.default.svc.cluster.local"
  PGPORT: "5432"
  PGUSER: "postgres"
  PGPASSWORD: "[PG-PASSWORD]"
  PGSSLMODE: "prefer"

